<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq2fxcYLdeabzvOhES-WyYwA-6cknfcV8</string>
	<key>GCM_SENDER_ID</key>
	<string>845127822315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mycampusMobileApp</string>
	<key>PROJECT_ID</key>
	<string>mycampus-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mycampus-mobile-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845127822315:ios:39cac77fe8d79381eb47ae</string>
</dict>
</plist>